@tailwind base;
@tailwind components;
@tailwind utilities;
a,
button {
  cursor: pointer;
  transition: all 250ms linear;
}
input {
  border-width: 1px;
}
.submit-btn {
  margin-top: 0.5rem;
  margin-bottom: 4rem;
  box-shadow: 0px 10px 25px hsla(223, 87%, 63%, 0.324);
}
.error-text {
  position: absolute;
  transform: translate(0, 350%);
  font-weight: 600;
  left: 25%;
  font-size: 0.6rem;
  opacity: 0.6;
  visibility: hidden;
}
.facebook {
  border-width: 1px;
  padding: 0.4rem 0.65rem;
}
.twitter,
.instagram {
  border-width: 1px;
  padding: 0.4rem 0.5rem;
}
/* 
error submit
*/
.error-text-active {
  visibility: visible;
}
.error-btn {
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}
/* 
Footer
*/
footer {
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0 1rem;
  text-align: center;
  padding: 0.2rem 0.8rem;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  border-radius: 15px 15px 0 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

@media (min-width: 768px) {
  .error-text {
    left: 0;
    transform: translate(5%, 255%);
  }
  .facebook,
  .twitter,
  .instagram {
    font-size: 0.8rem;
  }
}
